@font-face {
    font-family: 'ra-inet';
    src: url('assets/C&C Red Alert [INET].ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'ra-inet';
}

canvas {
    height: 100dvh !important;
    width: 100dvw !important;
}

#uiBottom, #uiTop, #tabs {
    position: absolute;
    width: 100dvw;
    height: fit-content;
    justify-content: center;
    display: flex;
    pointer-events: none;
    overflow: visible;
}

#toolselected button {
    height: 25px;
    aspect-ratio: 1/1;
}

#toolname {
    text-transform: capitalize;
}

#uiBottom {
    bottom: 0;
}

#tabs {
    bottom: 55px;
}

.navigation div {
    padding: 5px;
    background: #ffffffbd;
    border: darkgray solid 1px;
    margin: 10px 10px 10px 0px;
    width: fit-content;
    display: inline-block;
    pointer-events: all;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 24px;
    backdrop-filter: blur(10px);
}

.navigation span {
    padding-bottom: 0px;
    display: inline-block;
    margin-bottom: -6px;
}

button {
    padding: 5px;
    border-radius: 3px;
    border: darkgray solid;
    padding-bottom: 3px;
    border-width: 1px 1px 3px 1px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    transition: all 0.10s ease;
}

button:hover {
    border: gray solid;
    border-width: 1px 1px 3px 1px;
    background: lightgray;
    transition: all 0.10s ease;
}

button:active {
    border: gray solid 1px;
    background: lightgray;
    box-shadow: none;
    transition: all 0.10s ease;
}

.navigation div:first-child {
    margin-left: 10px;
}

#money,
#date {
    float: right;
}

.tab {
    border-radius: 5px;
    border: darkgray solid 1px;
    background: #ffffffbd;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 24px;
    backdrop-filter: blur(10px);
    display: none;
    pointer-events: all;
    animation: bounceInUp 0.5s both;
}

.right,
.left {
    width: fit-content;
    height: 25dvw;
    float: left;
    padding: 5px;
    overflow: auto;
}

#build button {
    display: block;
    aspect-ratio: 1/1;
    width: 75px;
    padding: 5px;
    margin-top: 5px;
}

#build .right {
    width: 326px;
}

#build .left {
    background-color: #00000020;
}

#build .right button {
    display: inline-block;
    margin-top: 0;
}

#menu button:first-child,
#build button:first-child {
    margin: 0;
}

#menu button {
    width: 25vw;
    text-align: left;
    display: block;
    margin-top: 5px;
}

.buildTab {
    display: none;
}

@keyframes bounceInUp {
    0% {
        transform: translate3d(0, 200px, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        opacity: 0;
    }

    60% {
        transform: translate3d(0, -20px, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        opacity: 1;
    }

    75% {
        transform: translate3d(0, 10px, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    90% {
        transform: translate3d(0, -5px, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    100% {
        transform: translate3d(0, 0, 0);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
}

@keyframes slideOutDown {
    0% {
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
    }
}